.auth__submit-button {
    width: 100%;
    height: 50px;
    color: #000000;
    background-color: #ffffff;
    border: none;
    outline: none;
    padding: 0;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    line-height: 1.22;
    font-weight: 400;
    transition: .5s;
}

.auth__submit-button:hover {
    opacity: 0.8;
}